.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 10px;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.link {
  display: inline-block;
  color: var(--mantine-color-blue-6);
  font-size: 14px;
}
